.c-pages__home{
  .c-post__content {
    max-height: 400px;
    &-video {
      iframe {
        min-height: 300px;
      }
    }
    &-text-description {
      margin-bottom: 10px;
    }
  }
  &-posts{
    &-pagination {
      width: 20%;
      margin: 0 auto;
      margin-bottom: 20px;
      padding: 15px;
    }
  }
}