.tabs.is-full-width.c-header-menu
  %h3.title.is-size-3
    = link_to root_path do
      %i.c-header-menu__home-icon.icon
        %img{src: asset_path('home.svg')}
      Funny Movies
  .c-header-menu__authenticate
    - if logged_in?
      = render 'layouts/logged_in_menu'
    - else
      = render 'layouts/authentication_form'